.node-red/.flows.json.backup
[
    {
        "id": "ab2b73186777a02c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "748425ca00b9820e",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "200",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "a789d27d43452dbb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "1820",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8bf822dd182ceec0",
        "type": "alexa-remote-account",
        "name": "testing",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3466",
        "cookieFile": "filpath",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "326ce2f.8d02d1e",
        "type": "ui_group",
        "name": "Alexa Speak",
        "tab": "fc4efe2d.639d2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc4efe2d.639d2",
        "type": "ui_tab",
        "name": "Alexa Speak",
        "icon": "speaker",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8fdd445430ffbabc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d8bd9c2cc77e668c",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "file",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "9ff8eb636901d331",
        "type": "alexa-remote-routine",
        "z": "ab2b73186777a02c",
        "name": "",
        "account": "8bf822dd182ceec0",
        "routineNode": {
            "type": "speakAtVolume",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "msg",
                    "value": "payload"
                },
                "volume": {
                    "type": "num",
                    "value": "80"
                },
                "mode": "set",
                "devices": [
                    "G090XG12208506M6"
                ]
            }
        },
        "x": 910,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8e1a93b7457223cc",
        "type": "inject",
        "z": "ab2b73186777a02c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "a32d994ca9afe42e"
            ]
        ]
    },
    {
        "id": "e395e28e79686153",
        "type": "debug",
        "z": "ab2b73186777a02c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "128c9294d004bd94",
        "type": "mqtt in",
        "z": "ab2b73186777a02c",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a789d27d43452dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "804deb3ebc39a920"
            ]
        ]
    },
    {
        "id": "804deb3ebc39a920",
        "type": "function",
        "z": "ab2b73186777a02c",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "9ff8eb636901d331",
                "e395e28e79686153"
            ]
        ]
    },
    {
        "id": "a32d994ca9afe42e",
        "type": "alexa-remote-routine",
        "z": "ab2b73186777a02c",
        "name": "",
        "account": "8bf822dd182ceec0",
        "routineNode": {
            "type": "speakAtVolume",
            "payload": {
                "type": "announcement",
                "text": {
                    "type": "str",
                    "value": "noy happy"
                },
                "volume": {
                    "type": "num",
                    "value": "80"
                },
                "mode": "set",
                "devices": [
                    "G090XG12208506M6"
                ]
            }
        },
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bf44407a.c20d4",
        "type": "alexa-remote-init",
        "z": "ab2b73186777a02c",
        "name": "",
        "account": "8bf822dd182ceec0",
        "option": "initialise",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "123e6678.5acbaa"
            ]
        ]
    },
    {
        "id": "c7f04444.fed188",
        "type": "inject",
        "z": "ab2b73186777a02c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * 3,4,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "alexa",
        "payloadType": "flow",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "bf44407a.c20d4"
            ]
        ]
    },
    {
        "id": "123e6678.5acbaa",
        "type": "change",
        "z": "ab2b73186777a02c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alexa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "a32d994ca9afe42e"
            ]
        ]
    }
]